body {
    background-color: cornsilk;
    color: sienna;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: rgb(197, 151, 130);
    color: rgb(253, 240, 187);
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: cornsilk;
    color: sienna;
    font-family: Arial;
    margin: 0px;
}
a {
    color: rgb(2, 2, 155);
    text-decoration: none;
    transition: 3s 1s;
}
a:link {
    color: brown;
}
a:visited {
    color: rgb(146, 6, 240);
}
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: aqua;
    opacity: 0.5;
}