body {
    background-color: cornsilk;
    color: sienna;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: rgb(197, 151, 130);
    color: rgb(253, 240, 187);
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: cornsilk;
    color: sienna;
    font-family: Arial;
    margin: 0px;
}