body {
    background-color: rgb(26, 17, 87);
    color: rgb(252, 211, 255);
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: rgb(252, 211, 255);
    color: rgb(26, 17, 87);
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: rgb(26, 17, 87);
    color: rgb(252, 211, 255);
    font-family: Arial;
    margin: 0px;
}
